@{
    ViewData["Title"] = "Home Page";
}
<div container-fluid>
    <div class="row">
        <div class="col-12 main-banner">
            <div class="col-12 pl-5 offset-md-4 col-md-7">
                <div class="indent-blue mt-5"></div>
                <p class="font-size-big text-white">Improve your english.</p>
                <p class="font-size-medium text-white">Work your way up to the fluency.</p>
                <button class="btn btn-info mt-5 font-size-medium" type="button" aria-labelledby="Sign up button">Sing up today</button>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row justify-content-center  mt-3">
        <div class="indent-blue mt-5"></div>
        <div class="col-12 text-center font-size-big mb-3">Available levels:</div>
        <div class="col-xl-4 col-12 ">
            <div class="card ml-auto mr-auto card-width mb-5">
                <img src="https://cdn.pixabay.com/photo/2017/09/21/13/32/girl-2771936_960_720.jpg" class="card-height card-img-top" alt="...">
                <div class="card-body shadow-lg warm-orange-color text-center">
                    <span class="font-size-medium">Intermediate B1</span>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-12">
            <div class="card shadow-lg ml-auto mr-auto card-width mb-5">
                <img src="https://cdn.pixabay.com/photo/2016/11/14/05/15/academic-1822683_960_720.jpg" class="card-height card-img-top" alt="...">
                <div class="card-body warm-orange-color text-center">
                    <span class="font-size-medium">Upper-Intermediate B2</span>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-12">
            <div class="card shadow-lg ml-auto mr-auto card-width mb-5">
                <img src="https://cdn.pixabay.com/photo/2018/06/27/07/45/student-3500990_960_720.jpg" class="card-img-top card-height" alt="...">
                <div class="card-body warm-orange-color text-center">
                    <span class="font-size-medium">Advanced C1</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid warm-orange-color">
    <div class="row justify-content-center">
        <div class="indent-blue mt-5 "></div>
        <div class="col-12 text-center">
            <span class="font-size-big">The English Quest:</span>
        </div>
        <div class="text-center col-12 font-size-medium">Is an open source platform.</div>
        <div class=" text-center col-12 font-size-medium">Do not charge you for learning.</div>
        <div class=" text-center col-12 font-size-medium font-italic mt-4">Want to contribute to the platform?</div>
        <button class="btn btn-info mb-5 mt-3 font-size-medium" type="button" aria-labelledby="Contact us button">Contact us</button>
    </div>
</div>
<div class="container">
    <div class="row justify-content-end">
        <div class="indent-blue mt-5"></div>
        <div class="col-12 col-md-9 offset-3 font-size-big text-right">
            <span class="light-blue-color-text">Why </span><span>should you learn english?</span>
        </div>
        <div id="EncouragementLinks" class="text-right mt-3">
            <a id="linkCollapse1" class="text-decoration-none" data-toggle="collapse" href="#firstCollapse" role="button" aria-expanded="false" aria-controls="firstCollapse">
                <h2 class="d-block">Popularity&nbsp;&nbsp;<i class="bi bi-plus-square-fill"></i></h2>
            </a>
            <div class="collapse text-right font-size-rather-small" id="firstCollapse">
                <div class="col-12 card card-body border-0">
                    <p>English is the most popular language over the world!</p>
                </div>
            </div>
            <a id="linkCollapse2" class="text-decoration-none" data-toggle="collapse" href="#secondCollapse" role="button" aria-expanded="false" aria-controls="secondCollapse">
                <h2 class="d-block">Possibilities&nbsp;&nbsp;<i class="bi bi-plus-square-fill"></i></h2>
            </a>
            <div class="collapse text-right font-size-rather-small" id="secondCollapse">
                <div class="card col-12 card-body border-0">
                    <p>You will be able to speak to almost everyone. Learning english will make you be more knowledgeable and more elequent</p>
                </div>
            </div>
            <a id="linkCollapse3" class="text-decoration-none" data-toggle="collapse" href="#thirdCollapse" role="button" aria-expanded="false" aria-controls="thirdCollapse">
                <h2 class="d-block">Accessibility&nbsp;&nbsp;<i class="bi bi-plus-square-fill"></i></h2>
            </a>
            <div class="collapse text-right font-size-rather-small" id="thirdCollapse">
                <div class="card col-12 card-body border-0">
                    <p>Most of the internet content is written in English. Once you learn it you will be able to read and watch almost everything in web!</p>
                </div>
            </div>
            <a id="linkCollapse4" class="text-decoration-none" data-toggle="collapse" href="#fourthCollapse" role="button" aria-expanded="false" aria-controls="fourthCollapse">
                <h2 class="d-block">Pleasure&nbsp;&nbsp;<i class="bi bi-plus-square-fill"></i></h2>
            </a>
            <div class="collapse text-right font-size-rather-small" id="fourthCollapse">
                <div class="card col-12 card-body border-0">
                    <p>Many people derive immense pleasure from learning english. The more aware you are about your language, the better you feel!</p>
                </div>
            </div>
            <a id="linkCollapse5" class="text-decoration-none" data-toggle="collapse" href="#fifthCollapse" role="button" aria-expanded="false" aria-controls="fifthCollapse">
                <h2 class="d-block">Prestige&nbsp;&nbsp;<i class="bi bi-plus-square-fill"></i></h2>
            </a>
            <div class="collapse text-right font-size-rather-small" id="fifthCollapse">
                <div class="card col-12 card-body border-0">
                    <p>The way you speak - especially in foreing language, makes you look more intelligent. This is definitely something which may impress your friends or colleagues!</p>
                </div>
            </div>
            <a id="linkCollapse6" class="text-decoration-none" data-toggle="collapse" href="#sixthCollapse" role="button" aria-expanded="false" aria-controls="sixthCollapse">
                <h2 class="d-block">Knowledge&nbsp;&nbsp;<i class="bi bi-plus-square-fill"></i></h2>
            </a>
            <div class="collapse text-right font-size-rather-small" id="sixthCollapse">
                <div class="card col-12 card-body border-0">
                    <p>Not only will you learn the basics of English grammar, but also of other subjects! When you read a text you will have to understand it's merits which may broaden your horizons.</p>
                </div>
            </div>
            <a id="linkCollapse7" class="text-decoration-none" data-toggle="collapse" href="#seventhCollapse" role="button" aria-expanded="false" aria-controls="seventhCollapse">
                <h2 class="d-block">Development&nbsp;&nbsp;<i class="bi bi-plus-square-fill"></i></h2>
            </a>
            <div class="collapse text-right font-size-rather-small" id="seventhCollapse">
                <div class="card col-12 card-body border-0">
                    <p>After a while, you will be able to take some English tests. If you pass those, you will be able to work up your way to the top in your company.</p>
                </div>
            </div>
        </div>

    </div>
</div>
<script>
    $('#linkCollapse1').click(function () {
        $('#firstCollapse').toggle('500');
        $("i", this).toggleClass("bi-plus-square-fill bi-dash-square-fill");
    });
    $('#linkCollapse2').click(function () {
        $('#secondCollapse').toggle('500');
        $("i", this).toggleClass("bi-plus-square-fill bi-dash-square-fill");
    });
    $('#linkCollapse3').click(function () {
        $('#thirdCollapse').toggle('500');
        $("i", this).toggleClass("bi-plus-square-fill bi-dash-square-fill");
    });
    $('#linkCollapse4').click(function () {
        $('#fourthCollapse').toggle('500');
        $("i", this).toggleClass("bi-plus-square-fill bi-dash-square-fill");
    });
    $('#linkCollapse5').click(function () {
        $('#fifthCollapse').toggle('500');
        $("i", this).toggleClass("bi-plus-square-fill bi-dash-square-fill");
    });
    $('#linkCollapse6').click(function () {
        $('#sixthCollapse').toggle('500');
        $("i", this).toggleClass("bi-plus-square-fill bi-dash-square-fill");
    });
    $('#linkCollapse7').click(function () {
        $('#seventhCollapse').toggle('500');
        $("i", this).toggleClass("bi-plus-square-fill bi-dash-square-fill");
    });
</script>