@{
    ViewData["Title"] = "Home Page";
}
<div container-fluid>
    <div class="row">
        <div class="col-12 main-banner">
            <div class="col-12 pl-5 offset-md-4 col-md-7">
                <div class="indent-blue mt-5"></div>
                <p class="font-size-big text-white">Improve your english.</p>
                <p class="font-size-medium text-white">Work your way up to the fluency.</p>
                <button class="btn btn-info mt-5 font-size-medium" type="button" aria-labelledby="Sign up button">Sing up today</button>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row justify-content-center  mt-3">
        <div class="indent-blue mt-5"></div>
        <div class="col-12 text-center font-size-big mb-3">Available levels:</div>
        <div class="col-xl-4 col-12 ">
            <div class="card ml-auto mr-auto card-width mb-5">
                <img src="https://cdn.pixabay.com/photo/2017/09/21/13/32/girl-2771936_960_720.jpg" class="card-height card-img-top" alt="...">
                <div class="card-body shadow-lg warm-orange-color text-center">
                    <span class="font-size-medium">Intermediate B1</span>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-12">
            <div class="card shadow-lg ml-auto mr-auto card-width mb-5">
                <img src="https://cdn.pixabay.com/photo/2016/11/14/05/15/academic-1822683_960_720.jpg" class="card-height card-img-top" alt="...">
                <div class="card-body warm-orange-color text-center">
                    <span class="font-size-medium">Upper-Intermediate B2</span>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-12">
            <div class="card shadow-lg ml-auto mr-auto card-width">
                <img src="https://cdn.pixabay.com/photo/2018/06/27/07/45/student-3500990_960_720.jpg" class="card-img-top card-height" alt="...">
                <div class="card-body warm-orange-color text-center">
                    <span class="font-size-medium">Advanced C1</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid warm-orange-color">
    <div class="row justify-content-center">
        <div class="indent-blue mt-5 "></div>
        <div class="col-12 text-center">
            <span class="font-size-big">The English Quest:</span>
        </div>
        <div class="text-center col-12 font-size-medium">Is an open source platform.</div>
        <div class=" text-center col-12 font-size-medium">Do not charge you for learning.</div>
        <div class=" text-center col-12 font-size-medium font-italic mt-4">Want to contribute to the platform?</div>
        <button class="btn btn-info mb-5 mt-3 font-size-medium" type="button" aria-labelledby="Contact us button">Contact us</button>
    </div>
</div>
<div class="container">
    <div class="row justify-content-end">
        <div class="indent-blue mt-5"></div>
        <div class="col-12 col-md-9 offset-3 font-size-big text-right">
            <span class="light-blue-color-text">Why </span><span>you should learn english?</span>
        </div>
        <div id="EncouragementLinks" class="text-right mt-3">
            <a class="text-decoration-none" onclick="LinkClicked(event)" data-toggle="collapse" href="#firstCollapse" role="button" aria-expanded="false" aria-controls="collapseExample">
                <h4>Popularity&nbsp;&nbsp;<i id="plusIcon1"class="bi bi-plus-square-fill"></i></h4>
            </a>
        </div>
        <div class="collapse" id="firstCollapse">
            <div class="card card-body border-0">
                <p>English is the most popular language over the world!</p>
            </div>
        </div>

    </div>
</div>
<script>
    function LinkClicked() {

        var i = event.target;
        console.log(i.childNodes[1]);
        if (i.childNodes[1].className === "bi bi-plus-square-fill") {
            //Delete old
            var icon = i.childNodes[1];
            icon.remove();
            //Add new
            var node = document.createElement("i");
            node.classList.add("bi");
            node.classList.add("bi-dash-square-fill");
            i.appendChild(node);
        }
        else {
            var icon = i.childNodes[1];
            icon.remove();
            var node2 = document.createElement("i");
            node2.classList.add("bi");
            node2.classList.add("bi-plus-square-fill");
            i.appendChild(node2);
        }
    }
</script>