@{
    ViewData["Title"] = "Home Page";
}
<div container-fluid>
    <div class="row">
        <div class="col-12 main-banner">
            <div class="offset-4 col-7">
                <div class="indent-blue mt-5"></div>
                <p class="font-size-big text-white">Improve your english.</p>
                <p class="font-size-medium text-white">Work your way up to the fluency.</p>
                <button class="btn btn-info mt-5 font-size-medium">Sing up today</button>
            </div>
        </div>
    </div>
</div>
