@model IEnumerable<ListeningQuizViewModel>
@{
    ViewData["Title"] = "CAE";
}


<main class="container" id="main">
    <div class="row d-flex justify-content-center">
        <div class="col-8 ">
            <p class="font-size-biggish text-center mt-5 mb-5">Listening CAE</p>
            @if (Model.ToList().Count > 0)
            {
                var obj = Model.ToList()[0];
                <partial name="AdminPaneIButtonsInEnglishSectionsListening" model="obj" />
            }
            else
            {
                <div class="d-flex justify-content-center mb-3" id="adminPanel">
                    <a asp-controller="Listening" asp-action="ListeningCreateQuiz" class="btn btn-success">Create quiz</a>
                </div>
            }

            <div class="row justify-content-center mt-5">

                <div class="indent-blue"></div>
                <div class="col-12 text-center">
                    <p class="font-size-biggish mt-3">Quizzes available:</p>
                    <section class="font-size-medium">
                        @foreach (var item in @Model)
                        {
                            <div class="col-12 font-size-medium mt-3">
                                <a asp-action="ShowQuiz" asp-controller="Listening" asp-route-QuizId="@item.Id">@item.Name</a>
                            </div>
                        }
                    </section>
                </div>
            </div>
        </div>
        <aside id="aside" class="col-4 d-none d-xl-block mt-5">
            <div id="NavigationList" class="list-group">
                <div class="indent-blue"></div>
                <span class="font-size-rather-small mb-3 font-weight-bold dark-blue-text-color">Quizes:</span>
                <div id="SpecialBorderG" class="border-left-warm-style mb-3">
                    <a id="GrammarNavCollapse" class="list-group-item list-group-item-action border-0 font-size-medium" role="button">
                        Listening
                    </a>
                    <div class="text-right font-size-rather-small" id="grammar">
                        <div class="col-12 card card-body border-0 text-left">
                            <p>Listening tends to be quite tricky. Cambridge exam is supposed to check how well you understand all contexts of listening framgent.</p>
                            <p class="font-weight-bold">Tips:</p>
                            <p>Try to determine which words are trying to mislead you. Focus on the part the questions concentrate on.</p>
                            <p class="border-0 font-size-medium">CAE</p>
                            <p>CAE is a quite hard exam. When we talk about its level, it may be placed closer to CPE than FCE</p>
                        </div>
                    </div>
                </div>
            </div>
        </aside>
    </div>
</main>


<script>
    var navListOffset = $('#NavigationList').offset().top - $('#main').offset().top - 66;
    $('#NavigationList').css("margin-top", navListOffset)
    $(document).scroll(function () {
        var WindowToTop = $(window).scrollTop();
        console.log(WindowToTop);
        $('#NavigationList').css("margin-top", WindowToTop);
    });
</script>