
<a id="linkCollapse7" class="text-decoration-none mb-5" data-toggle="collapse" href="#seventhCollapse" role="button" aria-expanded="false" aria-controls="seventhCollapse">
    <h2 class="d-block">Development&nbsp;&nbsp;<i class="bi bi-plus-square-fill"></i></h2>
</a>
<div class="collapse text-right font-size-rather-small" id="seventhCollapse">
    <div class="card col-12 card-body border-0">
        <p>After a while, you will be able to take some English tests. If you pass those, you will be able to work up your way to the top in your company.</p>
    </div> @*//Zrobić z tego partial views!*@
</div>