@model IEnumerable<EncouragementPositionViewModel>
@foreach (var item in Model)
{
    <a id="@item.ReferenceToCollapse" class="text-decoration-none" data-toggle="collapse" href="#@item.HtmlIdName" role="button" aria-expanded="false" aria-controls="firstCollapse">
        <h2 class="d-block">@item.Title&nbsp;&nbsp;<i class="bi bi-plus-square-fill"></i></h2>
    </a>
    <div class="collapse text-right font-size-rather-small" id="@item.HtmlIdName">
        <div class="col-12 card card-body border-0">
            <p>@item.Content</p>
        </div>
    </div>

    <script>
        $('#@item.ReferenceToCollapse').click(function () {
            $('#@item.HtmlIdName').toggle('500');
            $("i", this).toggleClass("bi-plus-square-fill bi-dash-square-fill");
        });
    </script>
}