<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - The_quest_of_English</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />
</head>
<body>
    <div container class="p-5 intro-background" fluid">
        <div container fluid class="transparent-image p-3">
            <div class="row height-400">
                <div class="col-12 font-weight-bold mt-auto mb-auto">
                    <p class="d-md-block d-none mt-5 text-white font-size-big">Are you ready to take on THE QUEST?</p>
                    <p class="d-md-none d-block text-white font-size-medium">Are you ready to take on THE QUEST?</p>
                    <button class="btn btn-info" aria-label="button" type="button">Test your english!</button>
                </div>
            </div>
        </div>
    </div>
    <header>
        <nav id="navbar" class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">The English Quest</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privssssacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div container fluid style="height:5000px;">
        <div class="row">
            <div class="col-12">Text</div>
        </div>
    </div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - The_quest_of_English - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @*@RenderSection("Scripts", required: false)*@
</body>
</html>
<script>
    window.onscroll = function () { myFunction() };
    var navbar = document.getElementById("navbar");
    var fixed = navbar.offsetTop;
    function myFunction() {
        if (window.pageYOffset >= fixed) {
            navbar.classList.add("fixed-top");
            navbar.setAttribute("style", "background-color:rgb(66, 239, 245);");
            navbar.style.transition = "all 2s";
        } else {
            navbar.classList.remove("fixed-top");
            navbar.removeAttribute("style");
            navbar.style.transition = "all 2s";
        }
    }
</script>