<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - The_quest_of_English</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" asp-append-version="true" />
    <link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css" asp-append-version="true">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>

</head>
<body class="mb-0">
    <header>
        <div container class="p-5 intro-background" fluid">
            <div container fluid class="transparent-image pl-5 p-3">
                <div class="row height-400">
                    <div class="col-12 mt-auto mb-auto">
                        <div class="indent-blue"></div>
                        <p class="d-md-block d-none mt-3 text-white font-size-big">Are you ready to take up THE QUEST?</p>
                        <p class="d-md-none d-block text-white font-size-medium">Are you ready to take up THE QUEST?</p>
                        <a asp-controller="Home" asp-action="SampleEnglishTest" class="btn btn-info" aria-label="button" type="button">Test your english!</a>
                    </div>
                </div>
            </div>
        </div>
        <partial name="NavigationBar" />
    </header>
    <main role="main" class="pb-3">
        @RenderBody()
    </main>

    <footer class="dark-blue-color text-center text-white">
        <div class="container p-4">
            <section class="mb-4">
                <p class="font-size-rather-small">Michał Kupczak</p>
                <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/hahxdxd" role="button">
                    <i class="bi bi-facebook"></i>
                </a>
                <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/michał-kupczak" role="button">
                    <i class="bi bi-linkedin"></i>
                </a>
                <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/Kurczak1233" role="button">
                    <i class="bi bi-github"></i>
                </a>
            </section>
            <section class="mb-4">
                <p>
                    This website was made by a college student who has worked on this project in order to develop his general .NET and web development skills. This project may be continued as a full scale platform so for this reason any amount of support is greatly appreciated. There is always an option that you may want to learn something just as I just did.
                </p>
            </section>
        </div>
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            Copyright ©2021 TheEnglishQuest. All rights reserved worldwide.
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
<script>
    window.onscroll = function () { myFunction() };
    var navbar = document.getElementById("navbar");
    $(document)
    var fixed = navbar.offsetTop;
    function myFunction() {
        if (window.pageYOffset >= fixed) {
            navbar.classList.add("fixed-top");
            navbar.setAttribute("style", "background-color:rgb(66, 239, 245);");
            navbar.style.transition = "all 1s";
        } else {
            navbar.classList.remove("fixed-top");
            navbar.removeAttribute("style");
            navbar.style.transition = "all 1s";
        }
    }
</script>