<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - The_quest_of_English</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" asp-append-version="true" />
    <link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css" asp-append-version="true">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>

</head>
<body>
    <header>
        <div container class="p-5 intro-background" fluid">
            <div container fluid class="transparent-image pl-5 p-3">
                <div class="row height-400">
                    <div class="col-12 mt-auto mb-auto">
                        <div class="indent-blue"></div>
                        <p class="d-md-block d-none mt-3 text-white font-size-big">Are you ready to take up THE QUEST?</p>
                        <p class="d-md-none d-block text-white font-size-medium">Are you ready to take up THE QUEST?</p>
                        <button class="btn btn-info" aria-label="button" type="button">Test your english!</button>
                    </div>
                </div>
            </div>
        </div>
        <nav id="navbar" class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light box-shadow">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">The English Quest</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-0">
                        <li class="nav-item mr-3">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Contact</a>
                        </li>
                        <li class="nav-item mr-3">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">About us</a>
                        </li>
                        <li class="nav-item mr-3">
                            <button class="nav-link text-white btn dark-blue-color " asp-area="" asp-controller="Home" asp-action="Index">Register<i class="bi bi-person-plus-fill"></i></button>
                        </li>
                        <li class="nav-item">
                            <button class="nav-link text-dark btn warm-orange-color " asp-area="" asp-controller="Home" asp-action="Privacy">Login<i class="bi bi-person-check-fill"></i></button>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main role="main" class="pb-3">
        @RenderBody()
    </main>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - The_quest_of_English - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @*@RenderSection("Scripts", required: false)*@
</body>
</html>
<script>
    window.onscroll = function () { myFunction() };
    var navbar = document.getElementById("navbar");
    var fixed = navbar.offsetTop;
    function myFunction() {
        if (window.pageYOffset >= fixed) {
            navbar.classList.add("fixed-top");
            navbar.setAttribute("style", "background-color:rgb(66, 239, 245);");
            navbar.style.transition = "all 1s";
        } else {
            navbar.classList.remove("fixed-top");
            navbar.removeAttribute("style");
            navbar.style.transition = "all 1s";
        }
    }
</script>