<nav id="navbar" class="navbar navbar-expand-xl navbar-light box-shadow shadow-lg light-blue-color">
    <div class="container">
        <div class="col-xl-3 d-flex justify-content-between">
            <a class="navbar-brand" asp-area="Admin" asp-controller="Platform" asp-action="MainView"><span class="hoverButton dark-blue-text-color font-weight-bold">The English Quest &nbsp;</span><img src="/images/Logo.png" style="height:50px;" /></a>
            <button class="dropdown-toggle btn warm-orange-color d-block d-xl-none" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="navbar-toggler-icon"></span>
            </button>

            <ul style="margin-left:50%;" class="dropdown-menu p-3" aria-labelledby="dropdownMenuButton1">

                <li><button type="button" class="btn btn-outline-light text-white button-width-120px dark-blue-color">Grammar</button></li>
                <li><button type="button" class="mt-2 btn btn-outline-light text-white button-width-120px dark-blue-color">Reading</button></li>
                <li><button type="button" class="mt-2 btn btn-outline-light text-white button-width-120px dark-blue-color">Writing</button></li>
                <li><button type="button" class="mt-2 btn btn-outline-light text-white button-width-120px dark-blue-color">Listnening</button></li>
                <li><button type="button" class="mt-2 btn btn-outline-light text-white button-width-120px dark-blue-color">Speaking</button></li>
                <li><a asp-action="Logout" asp-controller="Platform" type="button" class="mt-2 btn btn-danger button-width-120px">Logout<i class="bi bi-door-open"></i></a></li>
            </ul>

        </div>
        <div class="navbar-collapse col-8 offset-1 collapse d-xl-inline-flex">
            <div class="navbar-nav flex-grow-0 btn-group d-flex btn-group-lg col-9" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-outline-light text-white button-width-120px dark-blue-color">Grammar</button>
                <button type="button" class="btn btn-outline-light text-white button-width-120px dark-blue-color">Reading</button>
                <button type="button" class="btn btn-outline-light text-white button-width-120px dark-blue-color">Writing</button>
                <button type="button" class="btn btn-outline-light text-white button-width-120px dark-blue-color">Listnening</button>
                <button type="button" class="btn btn-outline-light text-white button-width-120px dark-blue-color">Speaking</button>
            </div>
            <div class="col-3 ml-3 navbar-nav flex-grow-0 btn-group d-flex justify-content-end flex-column" role="group">
                @if (User.IsInRole(SD.AdminUser))
                {
                    <div class="text-center">Hello @User.Identity.Name!</div>
                }
                <div class="text-center">
                    <a asp-action="Logout" asp-controller="Platform" type="button" class="btn btn-danger button-width-120px">Logout<i class="bi bi-door-open"></i></a>
                </div>
            </div>
        </div>
    </div>
</nav>