@model string 

<div class="d-flex justify-content-center mb-3" id="adminPanel">
    <a asp-controller="@Model" asp-action="GrammarCreateQuiz" class="btn btn-success">Create quiz</a>
    <a asp-controller="@Model" asp-action="GrammarModifyQuiz" class="btn btn-info ml-5 mr-5">Modify quiz</a>
    <a asp-controller="@Model" asp-action="GrammarDeleteQuiz" class="btn btn-danger">Delete quiz</a>
</div>
 