<footer class="dark-blue-color text-center text-white">
    <div class="container p-4">
        <section class="mb-4">
            <p class="font-size-rather-small">Michał Kupczak</p>
            <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/hahxdxd" role="button">
                <i class="bi bi-facebook"></i>
            </a>
            <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/michał-kupczak" role="button">
                <i class="bi bi-linkedin"></i>
            </a>
            <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/Kurczak1233" role="button">
                <i class="bi bi-github"></i>
            </a>
        </section>
        <section class="mb-4">
            <p>
                This website was made by a college student who has worked on this project in order to develop his general .NET and web development skills. This project may be continued as a full scale platform so for this reason any amount of support is greatly appreciated. There is always an option that you may want to learn something just as I just did.
            </p>
        </section>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        Copyright ©2021 TheEnglishQuest. All rights reserved worldwide.
    </div>
</footer>