@{
    Layout = "_AdminAddObjectModel";
}

<main class="container">
    <div class="row">
        <div class="light-blue-color col-xl-6 rounded col-sm-8 offset-sm-2 offset-xl-3" style="margin-top: 200px;">
            <form method="post">
                <div class="p-2 text-center mt-4 font-size-medium col-12">
                    Add question
                </div>
                <hr>
                <div class="row">
                    <div class="col-3 offset-1 d-flex align-items-center mt-1">
                        <label for="QuestionPart1">QuestionFirstPart:</label>
                    </div>
                    <div class="col-7">
                        <input type="text" id="QuestionPart1" class="form-control" /> 
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>