@model QuestionModelInput
@{
    Layout = "_AdminAddObjectModel";
}

<main class="container">
    <div class="row">
        <div class="light-blue-color col-xl-8 col-sm-10 offset-sm-1 offset-xl-2" style="margin-top: 100px; border-radius:50px;">
            <form id="form" method="post">
                <div class="p-2 text-center mt-4 font-size-medium col-12">
                    Add question
                </div>
                <hr>
                <div class="row">
                    <div class="col-3 offset-1 d-flex align-items-center mt-1 mb-3">
                        <label for="QuestionPart1">Question first part:</label>
                    </div>
                    <div class="col-7">
                        <input id="inputFirstQuestionPart" asp-for="@Model.QuestionFirstPart" type="text" id="QuestionPart1" class="form-control" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-3 offset-1 d-flex align-items-center mt-1 mb-3">
                        <label for="QuestionPart2">Question second part:</label>
                    </div>
                    <div class="col-7">
                        <input id="inputSecondQuestionPart" asp-for="@Model.QuestionSecondPart" type="text" id="QuestionPart2" class="form-control" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-3 offset-1 d-flex align-items-center mt-1 mb-3">
                        <label for="QuestionPart3">Question decorated part:</label>
                    </div>
                    <div class="col-7">
                        <input id="inputDecorationPart" asp-for="@Model.QuestionDecoratedPart" type="text" id="QuestionPart3" class="form-control" />
                    </div>
                </div>
                <hr />
                <div class="row mt-5 mb-5">
                    <div class="col-12 text-center font-size-medium">
                        Preview
                    </div>
                </div>
                <div class="row mt-3 d-flex justify-content-center">
                    <div class="question-circle text-center ml-4">
                        <strong class="font-size-medium question">1.</strong>
                    </div>
                    <div class="col-10 ml-2 d-flex align-items-center font-size-rather-small mt-1 mb-3">
                        <p><span id="FirstQuestionPart"></span>&nbsp;<span id="DecorationPart" class="dark-blue-text-color font-weight-bold font-italic"></span>&nbsp;<span id="SecondQuestionPart"></span></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-center">
                        <button asp-controller="Platform" asp-action="CreateAnswears" type="submit" class="btn warm-orange-color mb-3">Submit</button>
                    </div>
                </div>
            </form>
            @*<section id="questionAndAnswears" style="margin-left:35%">
            <div class="row mt-3">
                <div class="question-circle text-center ml-4">
                    <strong class="font-size-medium question">1.</strong>
                </div>
                <div class="col-10 ml-2 d-flex align-items-center font-size-rather-small mt-1">
                    <p>Pytanie</p>
                </div>
            </div>
            <div class="form-check" id="checkAnswears">
                <div class="mt-1 form-check ml-5 answearRadio">
                    <input class="form-check-input" type="radio" name="1" id="Answear1">
                    <label class="form-check-label" for="Answear1">
                        Odpowiedź1
                    </label>
                </div>
                <div class="mt-1 form-check ml-5 answearRadio">
                    <input class="form-check-input" type="radio" name="1" id="Answear2">
                    <label class="form-check-label" for="Answear2">
                        Odpowiedź2
                    </label>
                </div>
                <div class="mt-1 form-check ml-5 answearRadio">
                    <input class="form-check-input" type="radio" name="1" id="Answear3">
                    <label class="form-check-label" for="Answear3">
                        Odpowiedź3
                    </label>
                </div>
            </div>
        </section>*@
        </div>
    </div>
</main>
<script>
    $("#form").on("change", function () {
        $("#FirstQuestionPart").text($("#inputFirstQuestionPart").val());
        $("#DecorationPart").text($("#inputDecorationPart").val());
        $("#SecondQuestionPart").text($("#inputSecondQuestionPart").val());
    })
</script>