@model IEnumerable<PlacementTestTaskViewModel>
@{
    ViewData["Title"] = "DeleteQuestion";
}

<main class="container">
    <div class="row">
        <div class="light-blue-color col-xl-8 col-sm-10 offset-sm-1 offset-xl-2" style="margin-top: 100px; border-radius:50px;">
            <div class="p-2 text-center mt-4 font-size-medium col-12">
                Delete question:
            </div>
            <hr />
            <div class="col-12 mb-5">
                @foreach(var item in Model)
                {

                }
            </div>
        </div>
    </div>
</main>