@model TheEnglishQuest.ApplicationUserViewModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    Layout = "_PlatformLayout";
}

<main class="container">
    <div class="row">
        <article class="col-9 p-4">
            @{if (Model.Level == null)
                {
                    <p class="text-center mt-5 font-size-big">Welcome to the platform!</p>
                    <p class="text-center font-size-medium">You have to complete the placement test before you gain access to the plaftorm.</p>
                    <p class="text-center mt-3">
                        Placement test involves answearing multiple questions related to general English knowledge. Accordingly to your test results you will gain access to multiple sections where you can continue further learning process.
                        It is mandatory to solve the test. You should be able to understand the questions in order to continue the learning process, because the platform is made for intermediate and advanced English users! Despite the result you achieve, you will have access to all of the resources. Solving the test will tell us on what level are you currently being on and how to improve the platform.
                    </p>
                    <div class="text-center mt-5">
                        <a asp-controller="Platform" asp-action="PlacementTest" class="btn warm-orange-color" type="button" aria-label="PlacementTestButton">Take the placement test</a>
                    </div>
                }
                else
                {
                    <p class="text-center mt-3 font-size-big">Welcome to the platform!</p>
                    <p class="text-center mt-2 mb-3 font-size-rather-small">Navigate to the section that interest you the most:</p>
                    <div class="row justify-content-center">
                        <div class="indent-blue"></div>
                        <div class="col-12">
                            <p class="text-center dark-blue-text-color font-size-medium">Grammar</p>
                            <p class="text-center">Grammar is considered the hardest part of English Language. Here you will find three different sections covering grammar tasks: FCE, CAE, CPE.</p>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="indent-blue"></div>
                        <div class="col-12 ">
                            <p class="text-center dark-blue-text-color font-size-medium">Reading</p>
                            <p class="text-center">You improve your English while you read a lot. For this reason you will find a lot of text devided in three sections depending on your desirable level.</p>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="indent-blue"></div>
                        <div class="col-12 ">
                            <p class="text-center dark-blue-text-color font-size-medium">Writing</p>
                            <p class="text-center">Emails, complains, reviews, eseys, you will find all of those examples there. It is not divided by level segments.</p>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="indent-blue"></div>
                        <div class="col-12 ">
                            <p class="text-center dark-blue-text-color font-size-medium">Speaking</p>
                            <p class="text-center">Here you will find some mixed speaking tasks which may help you to speak more fluently and eloquently.</p>
                        </div>
                    </div> <div class="row justify-content-center">
                        <div class="indent-blue"></div>
                        <div class="col-12 ">
                            <p class="text-center dark-blue-text-color font-size-medium">Listening</p>
                            <p class="text-center">Listening shows how well you have worked on previous sections. There are FCE, CAE, CPE tasks.</p>
                        </div>
                    </div>

                }

            }
        </article>
        <aside class="mt-5 pt-4 col-3 border-left">
            <div class="row">
                <div class="col-12 text-center">
                    Tekst
                </div>
            </div>
        </aside>
    </div>
</main>