@model TheEnglishQuest.ApplicationUserViewModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    Layout = "_PlatformLayout";
}

<main class="container mt-5">
    <div class="row">
        <article class="col-9">
            @{if (Model.Level == null)
                {
                    <p class="text-center mt-5 font-size-big">Welcome to the platform!</p>
                    <p class="text-center font-size-medium">You have to complete a placement test before you gain access to the plaftorm.</p>
                    <p class="text-center">Placement test involves answearing multiple questions related to general English knowledge. Accordingly to your test results you will gain access to multiple sections where you can continue further learning process.</p>
                    
                }
                else
                {
                    <p>You have some level!</p>
                }
            }

        </article>
        <aside class="col-3 border-left">
        </aside>
    </div>
</main>