@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    Layout = "_PlatformLayout";
}

<section>
    I AM RENDERED IN MAIN VIEW!
</section>
