
@{
    ViewData["Title"] = "PlacementTest";
}
<main class="container mt-5">
    <div class="row">
        <div class="col-12 text-center">
            <a asp-action ="CreateQuestion" asp-controller="Platfrom" class="btn warm-orange-color">Create question</a>
        </div>

        <div class="col-8">
            <section id="questionAndAnswears">
                <div class="row mt-3">
                    <div class="question-circle text-center ml-4">
                        <strong class="font-size-medium question">1.</strong> @*Numer zadania i punkty*@
                    </div>
                    <div class="col-10 ml-2 d-flex align-items-center font-size-rather-small mt-1">
                        <p>Pytanie</p>
                    </div>
                </div>
                <div class="form-check" id="checkAnswears">
                    <div class="mt-1 form-check ml-5 answearRadio">
                        <input class="form-check-input" type="radio" name="1" id="Answear1">
                        <label class="form-check-label" for="Answear1">
                            Odpowiedź1
                        </label>
                    </div>
                    <div class="mt-1 form-check ml-5 answearRadio">
                        <input class="form-check-input" type="radio" name="1" id="Answear2">
                        <label class="form-check-label" for="Answear2">
                            Odpowiedź2
                        </label>
                    </div>
                    <div class="mt-1 form-check ml-5 answearRadio">
                        <input class="form-check-input" type="radio" name="1" id="Answear3">
                        <label class="form-check-label" for="Answear3">
                            Odpowiedź3
                        </label>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-4 border-left">
            Test
        </div>
    </div>
</main>