@model string
@{
    ViewData["Title"] = "CAE";
}


<main class="container">
    <div class="row">
        <div class="col-8 ">
            <p class="font-size-biggish text-center mt-5 mb-5">@Model CAE</p>
            @if (User.IsInRole(SD.AdminUser))
            {
                <partial name="AdminPaneIButtonsInEnglishSections" model="@Model" />
            }
        <section>
            <p class="font-size-medium">Quizes available:</p>
            <p><a href="#">Present Perfect Simple Adanced</a></p>
            <p> <a href="#">Present Perfect Continous Adanced</a></p>
            <p><a href="#">Present Perfect ... Adanced</a></p>
            <p><a href="#">Present Perfect ... Adanced</a></p>
        </section>
    </div>
        @*//Partial Profil?*@
        <div class="col-4 border-left">

        </div>
    </div>
</main>


