@model string
@{
    ViewData["Title"] = "CAE";
}

 
<main class="container">
    <div class="row">
        <div class="col-12 ">
            <p class="font-size-biggish text-center mt-5 mb-5">@Model CAE</p>
            @if (User.IsInRole(SD.AdminUser))
            {
                <partial name="AdminPaneIButtonsInEnglishSections" model="@Model" />
            }
            <div class="row text-center">
                <div class="col-6">
                    <p class="font-size-medium">Lessons available:</p>
                </div>
                <div class="col-6 border-left">
                    <p class="font-size-medium">Quizes available:</p>
                    <p><a href="#">Present Perfect Simple Adanced</a></p>
                    <p> <a href="#">Present Perfect Continous Adanced</a></p>
                    <p><a href="#">Present Perfect ... Adanced</a></p>
                    <p><a href="#">Present Perfect ... Adanced</a></p>
                </div>
            </div>
        </div>
    </div>
</main>


