@model GrammarLesson
@{
    ViewData["Title"] = "CreateLesson";
}
<main class="container">
    <div class="row">
        <div class="col-12">
            <p class="text-center font-size-biggish">Create lesson</p>
            <form method="post">
                <button type="submit" class="btn warm-orange-color">Submit</button>
            </form>
        </div>
    </div>
</main>


