@model GrammarQuizViewModel 
@{
    ViewData["Title"] = "GrammarCreateQuiz";
}

<main class="container p-5">
    <div class="row">
        <div class="light-blue-color col-xl-8 col-sm-10 offset-sm-1 offset-xl-2" style="margin-top: 50px; border-radius:50px;">
            <form id="form" method="post">
                <div class="col-12 mt-5 text-center font-size-medium">
                    Insert your quiz name:
                </div>
                <div class="col-6 offset-3 mt-3">
                    <input type="text" asp-for="@Model.Name" class="form-control" />
                </div>
                <div class="col-12 text-center mt-3 mb-5">
                    <button type="submit" class="btn warm-orange-color">Submit</button>
                </div>
            </form>
        </div>
    </div>
</main>
